*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
}

h1{
    font: 32px;
    padding-top: 56px;
    
}

#para{
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 22px;
}

#form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    border: 1px solid #ccc;
}

#form-input{
    background-color: darkblue;
    color: #fff;
    font-size: 24px;
    padding: 16px;
    text-align: left;
}

.input-box{
    font-size: 18px;
    margin-bottom: 36px;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    width: 100%;
   
}